{% extends 'layout.html' %}
{% load static %}

{% block link %}
    <script>
        const exp = "speech_vowel_voice";
        //let session = {{ session }};
        let name = "{{ request.session.info.name }}";
    </script>
    <link rel="stylesheet" href="{% static 'css/progress.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css"/>
{% endblock %}

{% block style %}
    <style>
        .game-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
        }

        #imageContainer {
            border: 4px solid #397003;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }

        #mainImage {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }

        .image-player {
        /* 容器内图片居中 */
        display: flex;
        justify-content: center;
        align-items: center;
        /* 容器的高度根据内容自适应 */
        height: auto; 
        /* 控制容器的最大高度 */
        max-height: 500px; 
        width: 100%;
        padding: 20px;
        }

        #myImage {
        height: 300px; /* 设置固定高度 */
        width: auto; /* 宽度自适应，保持图片比例 */
        object-fit: contain; /* 保持图片比例并填充容器 */
        }

    </style>
{% endblock %}

{% block content %}
    <div class="neonContainer">
        <h1>想象对应的单词</h1>
    </div>

    <div class="progress">
        <div class="progress-shadow">
            <div id="bar" class="progress-bar progress-bar-striped active" style="width: 0%;">
                <div class="progress-value">0%</div>
            </div>
        </div>
    </div>

    <div class="game-container">
        <div class="image-player">
            {% comment %} <img src="{% static 'img/composite_paradigm/example.jpg' %}" alt="示例图片"> {% endcomment %}
            <img id="myImage" src="" alt="待加载图片">
        </div>
    </div>

    
    <div class="rightContainer">
        <div class="feedback_pic">
            <h1>回答结果：</h1>
            <div class="pic">
                <img id="rImage" src="{% static 'img/hint/right.png' %}" alt="完成" style="display: none;">
            </div>
        </div>
        <div class="scoreContainer">
            <div>得分：
                <span id="score">0</span>
            </div>
        </div>
        <div class="t_button">
            <a id="switchButton" class="btn btn-secondary">下一步</a>
            <a id="startListeningButton" class="btn" href="javascript:void(0)">暂停</a>
            <a id="restartButton" href="/game/composite_paradigm/setting" class="btn btn-secondary">重新开始</a>
            <a id="endButton" class="btn">结束</a>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    const exp_name = "speech_picture";

    // 图片数组，存储图片的路径
    const images = [
        "{% static 'img/composite_paradigm/eat.jpg' %}",
        "{% static 'img/composite_paradigm/help.jpg' %}",
        "{% static 'img/composite_paradigm/toilet.jpg' %}"
    ];
    let currentIndex = 0; // 当前图片的索引
    const myImage = document.getElementById('myImage'); // 获取图片元素
    const switchButton = document.getElementById('switchButton'); // 获取切换按钮元素

    // 初始化时显示第一张图片
    myImage.src = images[currentIndex];

    // 为切换按钮添加点击事件监听器
    switchButton.addEventListener('click', function() {
        currentIndex = (currentIndex + 1) % images.length; // 计算下一张图片的索引
        myImage.src = images[currentIndex]; // 更新图片的 src 属性
    });
</script>
{% endblock %}
