{% extends 'layout.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css"/>
{% endblock %}

{% block style %}
    <style>
        body {  
            font-family: Arial, sans-serif;  
            background-color: #f0f0f0;  
            padding: 0;  
        }  

        h1 {  
            color: black;  
            text-align: center;  
        }  

        .form-group {  
            margin-bottom: 20px;  
        }  

        .form-group label {  
            display: block;  
            margin-bottom: 5px;  
        }  

        .form-group input {  
            width: 100%;  
            padding: 10px;  
            border: 1px solid #ccc;  
            border-radius: 5px;  
        }  

        .btn {  
            display: block;  
            width: calc(9/10 * 100%);
            padding: 15px;  
            font-size: 18px;  
            color: #fff;  
            background-color: #007bff;  
            border: none;  
            border-radius: 5px;  
            cursor: pointer;  
        }  

        .btn:hover {  
            background-color: #2d90f9;  
        }  
  
        .error {  
            color: red;  
            font-weight: bold;  
        }  

        .game-container {
            margin-bottom: 100px;
        }

        .game-info {
            padding: 20px;
        }

        .game-image {
            max-width: 100%;
            height: auto;
        }

        .game-image-hand{
            margin-left:calc(1/4* 100%);
            max-width: 100%;
            height: auto;
        }
        .parameter-adjustment {
            padding: 20px;
        }

        .game-container_row {
            width: 100%;
        }

        .col-md-5 {
            width: 70%;
        }

        .col-md-6 {
            width: 30%;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- 游戏1 -->
        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>运动想象</h1>
                    <p style="font-size: 20px;color: #1b6d85;text-align: center;">根据屏幕提示的图片进行手部的运动</p>
                </div>
                <!-- <img src="{% static "img/pics_rotate/square.png" %}" alt="游戏1" class="game-image"> -->
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter1">session:</label>
                            <input type="text" class="form-control" id="parameter1" placeholder="session" required>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_1" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>运动想象</h1>
                    <p style="font-size: 20px;color: #1b6d85;text-align: center;">根据屏幕提示的图片进行上肢的运动，手的抓握以及胳膊的屈伸</p>
                </div>
                <!-- <img src="{% static "img/pics_rotate/square.png" %}" alt="游戏1" class="game-image"> -->
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter2">session:</label>
                            <input type="text" class="form-control" id="parameter2" placeholder="session" required>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_2" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>运动想象</h1>
                    <p style="font-size: 20px;color: #1b6d85;text-align: center;">根据屏幕提示的图片进行下肢的运动，腿的屈伸</p>
                </div>
                <!-- <img src="{% static "img/pics_rotate/square.png" %}" alt="游戏1" class="game-image"> -->
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter3">session:</label>
                            <input type="text" class="form-control" id="parameter3" placeholder="session" required>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_3" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div>
        <!-- 添加更多游戏块... -->
    </div>
{% endblock %}


{% block js %}
    <script>
        document.getElementById('startButton_1').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter1').value;
            //let levelValue = document.getElementById('level').value;

            let numericValue = parseFloat(sessionValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue) || numericValue <= 0) {
                alert("session必须是大于0的有效数字!");
                return false; // 阻止表单提交
            }

            // 构建URL，附带参数
            let url = "/game/motor_imagery/game?type=hand&session=" + sessionValue;

            // 跳转到新的URL
            window.location.href = url;
        });

        document.getElementById('startButton_2').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter2').value;
            //let levelValue = document.getElementById('level').value;

            let numericValue = parseFloat(sessionValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue) || numericValue <= 0) {
                alert("session必须是大于0的有效数字!");
                return false; // 阻止表单提交
            }

            // 构建URL，附带参数
            let url = "/game/motor_imagery/game?type=upper_limbs&session=" + sessionValue;

            // 跳转到新的URL
            window.location.href = url;
        });

        document.getElementById('startButton_3').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter3').value;
            //let levelValue = document.getElementById('level').value;

            let numericValue = parseFloat(sessionValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue) || numericValue <= 0) {
                alert("session必须是大于0的有效数字!");
                return false; // 阻止表单提交
            }

            // 构建URL，附带参数
            let url = "/game/motor_imagery/game?type=lower_limbs&session=" + sessionValue;

            // 跳转到新的URL
            window.location.href = url;
        });


    </script>
{% endblock %}

