{% extends 'layout.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" type="text/css"/>
{% endblock %}

{% block style %}
    <style>
        .container {
            margin-bottom: 100px;
        }

        .game-info {
            padding: 20px;
        }

        .game-image {
            max-width: 100%;
            height: auto;
        }

        .parameter-adjustment {
            padding: 20px;
        }

        .game-container_row {
            width: 100%;
        }

        .col-md-5 {
            width: 70%;
        }

        .col-md-6 {
            width: 30%;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <!-- 游戏1 -->
        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>发音训练</h1>
                    <p style="font-size: 20px;color: #1b6d85">按照屏幕里的展示，学习字母的发音</p>
                </div>
                <img src="{% static "img/speech/logo/word.png" %}" alt="游戏1" class="game-image">
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter1">session：</label>
                            <input type="text" class="form-control" id="parameter1" placeholder="session" required>
                        </div>
                        <div class="form-group">
                            <label for="level">游戏难度：</label>
                            <select class="form-control" id="level">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <!-- 其他选项 -->
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="time1">每个韵母训练时间:(秒)</label>
                            <input type="text" class="form-control" id="time1" placeholder="时间" required>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_1" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div>

        <!-- 游戏2 -->
        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>字图配对</h1>
                    <p style="font-size: 20px;color: #1b6d85">题目会给出单词，请选择对应的图片</p>
                </div>
                <img src="{% static "img/speech/logo/picture.png" %}" alt="游戏2" class="game-image">
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter3">session：</label>
                            <input type="text" class="form-control" id="parameter3" placeholder="session" required>
                        </div>
                        <div class="form-group">
                            <label for="level2">游戏难度：</label>
                            <select class="form-control" id="level2">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <!-- 其他选项 -->
                            </select>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_2" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div> 


        <!-- 游戏3 -->
        <div class="game-container_row">
            <div class="col-md-5">
                <div class="game-info">
                    <h1>笔画训练</h1>
                    <p style="font-size: 20px;color: #1b6d85">题目一个笔画，请试着去练习</p>
                </div>
                <!--记得改logo-->
                <img src="{% static "img/speech/logo/write.png" %}" alt="游戏3" class="game-image">
            </div>

            <div class="col-md-6">
                <div class="parameter-adjustment">
                    <h1>游戏参数设置</h1>
                    <form>
                        <div class="form-group">
                            <label for="parameter5">session：</label>
                            <input type="text" class="form-control" id="parameter5" placeholder="session" required>
                        </div>
                        <div class="form-group">
                            <label for="leve22">游戏难度：</label>
                            <select class="form-control" id="leve22">
                                <option value="1">1</option>
                                {% comment %} <option value="2">2</option>
                                <option value="3">3</option> {% endcomment %}
                                <!-- 其他选项 -->
                            </select>
                        </div>
                        <!-- 其他参数 -->
                        <a id="startButton_3" class="btn">进入游戏</a>
                    </form>
                </div>
            </div>
        </div> 
        <!-- 添加更多游戏块... -->
    </div>
{% endblock %}

{% block js %}
    <script>
        document.getElementById('startButton_1').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter1').value;
            let levelValue = document.getElementById('level').value;
            let timeValue = document.getElementById('time1').value;

            let numericValue1 = parseFloat(sessionValue);
            let numericValue2 = parseFloat(timeValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue1) || numericValue1 <= 0) {
                alert("session必须是大于0的有效数字！");
                return false; // 阻止表单提交
            }

            // 检查时间
            if (isNaN(numericValue2) || numericValue2 <= 0) {
                alert("时间必须是大于0的有效数字！");
                return false; // 阻止表单提交
            }
            else if(numericValue2 > 15){
                var result = confirm("你填写的时间超过了"+numericValue2+"秒，你确定要继续吗？");
                if (!result) {
                    // 用户点击了取消按钮，执行相应的操作
                    return false; // 阻止表单提交
                }
            }

            // 构建URL，附带参数
            let url = "/game/speech/word?session=" + sessionValue + "&level=" + levelValue + "&time=" + timeValue;

            // 跳转到新的URL
            window.location.href = url;
        });

         document.getElementById('startButton_2').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter3').value;
            let levelValue = document.getElementById('level2').value;

            let numericValue = parseFloat(sessionValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue) || numericValue <= 0) {
                alert("session必须是大于0的有效数字！");
                return false; // 阻止表单提交
            }

            // 构建URL，附带参数
            let url = "/game/speech/picture?session=" + sessionValue + "&level=" + levelValue;

            // 跳转到新的URL
            window.location.href = url;
        }); 

        document.getElementById('startButton_3').addEventListener('click', function () {
            let sessionValue = document.getElementById('parameter5').value;
            let levelValue = document.getElementById('leve22').value;

            let numericValue = parseFloat(sessionValue);

            // 检查是否为有效的数字且大于0
            if (isNaN(numericValue) || numericValue <= 0) {
                alert("session必须是大于0的有效数字！");
                return false; // 阻止表单提交
            }

            // 构建URL，附带参数
            let url = "/game/speech/write?session=" + sessionValue + "&level=" + levelValue;

            // 跳转到新的URL
            window.location.href = url;
        }); 
    </script>
{% endblock %}